__pycache__/
**/data
.python-version
**/results
out
.venv/
.pytest_cache/
.streamlit/

## 
lib/
./assets/


# too big !
libs/**
deb/
model_real.xlsx

# config files
config_*.toml
 
# images & files
**.csv
**.JPG
**.jpg
**.PNG
**.png
**.env
.env
**.xz
**.gz
**.sqlite

# models (yolo)
**.pt

# tmp
.#*
\#*
**/*egg-info
**.~lock**
_*_out.txt
_inspect_*.txt
_shl*.txt
_p5_*.txt

# config file
CMakeLists.txt


